{% extends 'base.html' %}
{% block content %}
<h2>Welcome, {{username}}</h2>

<form action="{{url_for('add_task')}}" method="POST">
    <input type="text" name="title" placeholder="Enter Task Name" required>
    <button type="submit">Add</button>

</form>

<ul id="task-list">
    {% for task in tasks %}
        <li class="{{ 'done' if task.completed else '' }}">
            {{task.title}}
            <!-- <form action="{{url_for('completed',task_id=task.id)}}" method="POST">
                <button type="submit">{{'Undo' if task.completed else 'Done'}}</button>
            </form> -->
            <button onclick="toggleComplete({{ task.id }})">
                
                {{'Undo' if task.completed else 'Done'}}
            </button>
            <a href="{{url_for('delete',task_id=task.id)}}">Delete</a>

        </li>
    {% endfor %}
</ul>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}